* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  min-height: 40px;
  padding: 8px 16px;
  outline: none;
  line-height: 1.5;
  cursor: pointer;
}

.btn-primary {
  background-color: #1890ff;
  color: #fff;
  border: 1px solid #1890FF;
}

.btn-outline {
  background-color: #fff;
  color: #595959;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.00);
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.banner {
  margin-bottom: 56px;
}

.banner-item {
  background-image: url(./images/banner.png);
  background-color: #fff1b8;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
}

.banner-item--title {
  font-weight: 700;
  font-size: 39px;
  color: #302c34;
  margin-top: 0;
  margin-bottom: 15px;
  max-width: 50%;
}

.banner-item--subtitle {
  font-size: 24px;
  color: #302c34;
  max-width: 50%;
  margin: 0;
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.products-header--title {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin: 0;
}

.products-header--search {
  min-width: 306px;
  height: 34px;
  flex-shrink: 0;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #fff;
  padding: 5px 12px;
}

.products-header--search:focus {
  outline: none;
  border: 1px solid #d9d9d9;
}

.products-header--search:placeholder {
  line-height: 1.5;
  color: #bfbfbf;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 24px;
  padding-top: 44px;
  padding-bottom: 90px;
}

.products-card {
  width: calc((100% - 48px) / 3);
  border-radius: 7px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.products-card__image {
  width: 100%;
}

.products-card__image img {
  width: 100%;
  height: auto;
}

.products-card__description {
  padding: 20px 24px 34px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.products-card__description-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-card__description-row:nth-child(2) {
  margin-top: auto;
}

.products-card__description-row:not(:last-child) {
  margin-bottom: 10px;
}

.products-card__decription--title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
}

.products-card__decription--badge {
  border-radius: 2px;
  padding: 1px 8px;
  background-color: #262626;
  font-size: 12px;
  line-height: 1.67;
  color: #fff;
}

.products-card__description-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.products-card__description-info--raiting {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: #ffc107;
}

.products-card__description-info--price, .products-card__description-info--groupe {
  font-size: 18px;
  line-height: 1.78;
  color: #8c8c8c;
}

.products-card__description-info--groupe {
  position: relative;
}

.products-card__description-info--groupe::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8c8c8c;
  position: absolute;
  left: -14px;
  top: 14px;
}

.products-card__description--name {
  font-size: 24px;
  line-height: 1.33;
  margin: 0;
}

.products-card__description--text {
  font-size: 18px;
  color: #8c8c8c;
  margin: 0;
}

.products-card__description-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.products-card__description-controls-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 991px) {

  .banner-item {
    background-image: none;
  }

  .banner-item--title {
    max-width: 100%;
  }

  .banner-item--subtitle {
    max-width: 100%;
  }

  .products-card {
    width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 768px) {
  .products-card {
    width: 100%;
  }
}